<!DOCTYPE html>
<html>
{{template "head.go.tmpl" "Archive"}}
<body>
    {{template "nav.go.tmpl" .}}
    <main>
        <h1>Archive</h1>

        {{template "mailbox.go.tmpl" .}}
    </main>
</body>
</html>