<!DOCTYPE html>
<html>
{{template "head.go.tmpl" "Compose new mail"}}
<body>
    {{template "nav.go.tmpl" .}}
    <main>
        <h1>Compose new mail</h1>
        <form action="/mail/compose/send/" method="post">
            <label for="to">To:</label>
            <input type="email" id="to" name="to" class="edit">
            <label for="subject">Subject:</label>
            <input type="text" id="subject" name="subject" class="edit">
            <label for="content">Message:</label>
            <textarea class="edit" name="content" id="content"></textarea>
            <div class="spaced-line">
                <button type="submit">Send</button>
                <button type="submit" formaction="/mail/compose/">Save</button>
           </div>
        </form>
    </main>
</body>
</html>