{{- /* The value of dot should be the title of the page. */ -}}
<head>
    <meta charset="utf-8">
    <title>{{.}} | Slow Mail</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        {{template "styles.go.tmpl"}}
    </style>
</head>