<h2 class="table-title">{{.Date}}</h2>
<table>
    <tr>
        <th class="from-col">From</th>
        <th class="subject-col">Subject</th>
        <th class="preview-col">Preview</th>
    </tr>
    {{range .Mails}}
    <tr>
        <td><a class="cell" href="/mail/conv/{{.MailId}}/read/">{{.FromName}}</a></td>
        <td class="cell">{{.Subject}}</td>
        <td class="cell">{{.Preview}}</td>
    </tr>
    {{end}}
</table>
{{template "pages.go.tmpl" .}}