<header>
    <nav>
        <a class="nav" href="/mail/folder/inbox">Inbox</a>
        <a class="nav" href="/mail/folder/drafts">Drafts</a>
        <a class="nav" href="/mail/folder/archive">Archive</a>
        <a class="nav" href="/account">Account</a>
    </nav>
</header>