<div class="spaced-line">
    <a href="?page={{.PagePrev}}" {{if eq .PagePrev 0}}class="hidden"{{end}}>&laquo; Last page</a>
    <a href="?page={{.PageNext}}" {{if eq .PageNext 0}}class="hidden"{{end}}>Next page &raquo;</a>
</div>