:root {
    font-family: 'Franklin Gothic', Avenir, sans-serif;
}

* {
    margin: 0px;
}

body {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
}

h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* UTILITIES */

/* a container that spaces its children across the width of the box */
.spaced-line {
    display: flex;
    justify-content: space-between;
}

.hidden {
    visibility: hidden;
}

.removed {
    display: none;
}

/* a vertical line to connect bordered objects */
.connector {
    width: 1px;
    height: 32px;
    margin-left: auto;
    margin-right: auto;
    background: #888888;
}

/* NAVIGATION */

nav {
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #888888;
}

div.nav-chunk {
    width: fit-content;
}

.nav-link {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}



/* FORMS */

input, button, textarea, select {
    font: inherit;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

/* put labels above form inputs, instead of to the left */
label {
    display: block;
}

/* small form in center of page, for login/signup pages */
.sign-in-form {
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
}

/* composition form */
.edit {
    box-sizing: border-box;
    width: 100%;
}
textarea.edit {
    resize: vertical;
    min-height: 200px;
}

/* TABLES */

.table-title {
    font-size: 1.15rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

table {
    width: 100%;
    table-layout: fixed;
    white-space: nowrap;
    overflow-x: scroll;
}

th {
    text-align: left;
}

/* table cells */

a.cell {
    display: block;
}

.cell {
    text-overflow: ellipsis;
    overflow: hidden;
}

/* mail table sizing */

.from-col {
    width: 10rem;
}

.subject-col {
    width: 14rem;
}

.preview-col {
    width: 14rem;
}

/* Mail articles */
article {
    border-style: solid;
    border-width: 1px;
    border-color: #888888;
    padding: 16px;
}

.displayed-text {
    white-space: pre-wrap;
}
